html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sample-carousel-container{
	width: 800px;
	height: 500px;
	background: pink;
	margin: auto;
	margin-top:100px;
	position: relative;
}

.carousel{
	width: 100%;
	height: 100%;
	background: aqua;
	position: relative;
}

.item{
	position: absolute;
	width: 100%;
	height: 100%;
	left:-100%;
	top:0;
	background: green;
	transition: all 1s ease;
	opacity: 0;
	visibility: hidden;
}
.item.active{
	transform:translateX(100%);
	background: tomato;
	opacity: 1;
	visibility: visible;
}
.item.disabled{
	transform:translateX(200%);
	background: red;
	
}

.controller-bullets{
	position: absolute;
	bottom: 2em;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.controller-bullet{
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin:2px;
	background: red;
	display: inline-block;

}

.controller{
	position: absolute;
	left:-2em;
	bottom: -2em;
	cursor: pointer;
	background: blue;
}

.controller.right{
	position: absolute;
	left:auto;
	bottom: -2em;
	right: 2em;

}